pillow
logfire
adbutils
omegaconf
pyautogui
playwright
pygetwindow
opencv-python

# Hydra
hydra-core
hydra-colorlog
hydra-optuna-sweeper

# Data Validation
pydantic

# Packaging
pyinstaller

# Develop Tools
ipykernel
ipywidgets
pre-commit

# Pytes Tools
pytest
pytest-cov
pytest-xdist
pytest-asyncio
genbadge[all]
